{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table>
            <thead>
                <tr>
                    <th class="border-0 text-start">Symbol</th>
                    <th class="border-0 text-start">Name</th>
                    <th class="border-0 text-end">Shares</th>
                    <th class="border-0 text-end">Price</th>
                    <th class="border-0 text-end">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td class="border-0 text-start">{{ order["symbol"] }}</td>
                    <td class="border-0 text-start">{{ order["name"] }}</td>
                    <td class="border-0 text-end">{{ order["sumshares"] }}</td>
                    <td class="border-0 text-end">{{ order["price"] | usd}}</td>
                    <td class="border-0 text-end">{{ order["total"] | usd }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 fw-bold text-end">{{ cash | usd }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Total</td>
                    <td class="border-0 fw-bold text-end">{{ sum | usd }}</td>
                </tr>
            </tfoot>

        </table>
    </div>
{% endblock %}